commands:
# Create the agent’s yum repository
  "01-agent-repository":
    command: sudo curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/el/6/x86_64/newrelic-infra.repo
#
# Update your yum cache
  "02-update-yum-cache":
    command: yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
#
# Run the installation script
  "03-run-installation-script":
    command: sudo yum install newrelic-infra -y
#
# Workaround for setting missing (real) ENVIRONMENT PROPERTIES inside ec2
  "04-set-env-var-1":
    command: echo env NRIA_LICENSE_KEY=`sudo /opt/elasticbeanstalk/bin/get-config environment | grep -oP 'NRIA_LICENSE_KEY":"\K\w+(?=")'` | sudo tee -a /etc/init/newrelic-infra.conf
#
# Mandatory config added, now start the service
  "03-run-installation-script":
    command: sudo initctl start newrelic-infra